body {
    margin: 0;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
}

html {
    font-size: 175%;
    font-weight: 300;
    line-height: 1.3;
}

body {
    align-items: center;
    background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container {
    max-width: 20em;
}

.container > p {
    text-align: center;
}

.calculator {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}

.calculator__display {
    background-color: #676767;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
    cursor:auto;
}

.calculator__keys {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * {
    background-color: #cccccc;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    cursor:pointer;
    }

/* Style the active buttons and mouse-over */
button:hover {
    background-color: #4d4d4d;
}

button:active {
    background-color: green;
}
/* End of styling buttons */

.key--zero {
    grid-column: 1 / 3;
    text-align: start;
}

.key--operator {
    background-color: #ff993a;
    color: white;
}

.key--equal {
    background-color: #ff993a;
    color: white;
    grid-column: 4;
    grid-row: 5;
    }
